@import "_variables.scss";

.our-contacts {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.footer-section {
  padding: 80px 100px;
}

.contacts-info a {
  @media (max-width: 768px) {
    color: $footer-text;
  }
}

.contacts-col {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  &:first-child {
    order: 1;
    @media (min-width: 768px) {
      order: 0;
      width: 100%;
    }
  }

  &:nth-child(2),
  &:nth-child(3) {
    order: 0;

    @media (min-width: 768px) {
      order: 0;
      width: 100%;
    }
  }

  &:last-child {
    order: 2;

    @media (min-width: 768px) {
      order: 0;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    min-width: 0;
    width: 100%;
    top: 50px;
  }

  @media (min-width: 1200px) {
    padding: 0;
    width: 100%;
  }
}

.terms-links {
  display: block;
  color: $footer-text;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.9px;

  &:nth-child(2) {
    margin-bottom: 25px;
  }
}

.alice-copyright {
  color: #1998a2;
  font-size: 18px;
}

.alice-link {
  color: #1998a2;
  position: relative;
  margin-top: 24px;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -22px;
    width: 16px;
    height: 16px;
    border: 1px solid #1998a2;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "C";
    top: 0;
    left: -18px;
    font-size: 12px;
    color: #1998a2;
  }
}

.contacts-title {
  font-family: Helvetica;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.contacts-info {
  display: block;
  line-height: 33px;
  color: white;
  font-size: 22px;
  font-family: Helvetica;

  @media (min-width: 768px) {
    order: 0;
  }
}

.email-col,
.phone-col,
.address-col {
  margin: 0;
  padding: 0;
}

.contactinfo-section {
  margin: 0 0 40px 0;
}

.footer-section .col-5 {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 150px;
  }
}

.footer-section .terms {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: -50px;
  }
  @media (min-width: 1450px) {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
  }
}

.footer-section .col-7 {
  @media (max-width: 768px) {
    position: relative;
    top: 0px;
    max-width: 100%;
  }
}
