@import "_variables";
@import "blocks/_section-1_navbar";
@import "blocks/_section-1_overview";

.page-header {
  @media (max-width: 1439px) {
    //background-image: linear-gradient(74deg, #8a47db 45%, #1cb8c4 100%);
  }
}

.section-1 {
  width: 100%;
  background-image: url("../../svg/Section-1/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 1px;
}

.hamburger {
  display: block;
  position: relative;
  width: 25px;
  height: 30px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }
}
