@import "_variables";

.section-4 {
  display: flex;
  justify-content: center;
  background-image: url("../../svg/Section-4/background.svg");
  background-position: 0 -1490px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1000px) {
    background-image: none;
  }

  @media (min-width: 1500px) {
    background-image: none;
  }
}

.application-wrapper {
  max-width: 1440px;
}

.section-4 .wrapper {
  width: 100vw;
  padding: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
}

.alice-application__img-col .illustration-usecase-1 {
  width: 100%;
  position: relative;
  left: -50px;
  @media (max-width: 784px) {
    width: 90%;
    position: relative;
    top: 0px;
    left: 10px;
  }
}

.illustration-usecase-2 {
  width: 100%;
  position: relative;
  top: -150px;
  left: 30px;
  @media (max-width: 784px) {
    width: 90%;
    position: relative;
    top: 0px;
  }
}

.section-4 .application-section-title,
.section-4 .section-title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  @media (min-width: 576px) {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 40px;
    text-align: left;
  }
}

.section-4 .section-sub-title {
  margin: 30px 0;
  width: 100%;

  @media (min-width: 576px) {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 34px;
    text-align: left;
  }
}

.section-4 .section-sub-title-2 {
  margin: 30px 0;
  width: 100%;

  @media (min-width: 576px) {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 34px;
    text-align: left;
  }
}

.section-4 .section-tagline {
  padding-bottom: 60px;
  text-align: left;

  @media (max-width: 990px) {
    margin-bottom: 20px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 54px;
  }
}

.section-4 .section-tagline-2 {
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  line-height: 30px;

  @media (max-width: 990px) {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 64px;
  }
}

.alice-application-2,
.alice-application {
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;

  @media (min-width: 1600px) {
    position: relative;
    top: 0px;
  }
}

.alice-application__img-col .illustration-1 {
  position: relative;
  right: 170px;
  @media (max-width: 1000px) {
    position: relative;
    margin-top: 100px;
    width: 90%;
    right: 0;
  }
}

.alice-application__img-2-col .illustration-2 {
  position: relative;
  left: 100px;
  top: -100px;
  width: 90%;
}

.alice-application__text-col {
  position: relative;
  top: 80px;
}

.alice-application__text-col {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 576px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 768px) {
    padding-left: 5%;
    padding-right: 0;
  }

  @media (min-width: 992px) {
    padding-right: 80px;
  }

  @media (min-width: 1400px) {
    padding-right: 80px;
  }
}

.alice-application__text-2-col {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 576px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 768px) {
    padding-left: 5%;
    padding-right: 0;
  }

  @media (min-width: 992px) {
    padding-right: 80px;
    position: relative;
    top: -120px;
  }

  @media (min-width: 1400px) {
    padding-right: 80px;
  }
}

.section-4 .application-overview-buttons a,
.section-4 .overview-buttons a {
  margin: 0 !important;
  @media (min-width: 576px) {
    width: 40%;
  }
}

.section-4 .application-overview-buttons,
.section-4 .overview-buttons,
.section-4 .overview-buttons-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media (min-width: 576px) {
    display: flex;
    flex-direction: row;
  }
}

.section-4 .application-overview-buttons img,
.section-4 .overview-buttons img,
.section-4 .overview-buttons-2 img {
  margin-left: 15px;
  position: relative;
  z-index: 1;
  &:hover {
    margin-bottom: 5px;
    transition: all 0.3s ease;
  }
}

.section-4 .application-overview-buttons a,
.section-4 .overview-buttons {
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-around;
  }
}

.section-4 .overview-buttons-2 {
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-around;
  }
}

.section-4 .overview-buttons-2 a {
  margin: 0;
}
