@import "_variables";
@import "blocks/_section-1_navbar";
@import "blocks/_section-1_overview";

.section-2 {
  width: 100%;
  background-color: $pink;
  @media (min-width: 1500px) {
    background-image: url("../../svg/Section-2/background-2.svg");
    background-position: 0 -932px;
    background-repeat: none;
    background-size: cover;
  }
}

// .section-2 .wrapper {
//   padding: 0;
//   display: flex;
//   justify-content: center;
//   background-color: yellow;
// }

.product-demo-list {
  margin: 0;
  margin-top: 39px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  display: flex;
}

.demo-order-number {
  color: $yellow;
  font-size: 170px;
  font-weight: 800;
  position: relative;
  left: 50px;
  top: 20px;
  font-family: Helvetica;
}

.demo__image-col-1,
.demo__image-col-2,
.demo__image-col-3 {
  position: relative;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  color: $section-color;

  @media (min-width: 992px) {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.demo__image-col-1 {
  top: -70px;
  @media (min-width: 1500px) {
    position: relative;
    margin: 100px 0;
    top: -100px;
    text-align: center;
  }
}

.demo__image-col-2 {
  top: 25px;
  @media (min-width: 1500px) {
    position: relative;
    margin: 100px 0;
    top: 0px;
    text-align: center;
  }
}

.demo__image-col-3 {
  top: -110px;

  @media (min-width: 1500px) {
    position: relative;
    margin: 100px 0;
    top: -200px;
    text-align: center;
  }
}

.demo__image-col-2,
.demo__image-col-3 {
  @media (max-width: 968px) {
    position: relative;
    margin-top: 100px;
    top: 0;
    text-align: center;
  }
}

.demo-subtitle-1,
.demo-subtitle-2,
.demo-subtitle-3 {
  font-family: Helvetica;
  font-size: 38px !important;
  text-align: left;
  width: 100%;
  margin-top: 30px;
  letter-spacing: 0;
}

.demo-detail-1,
.demo-detail-2,
.demo-detail-3 {
  font-family: Helvetica;
  font-size: 22px !important;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 30px !important;
  text-align: left;
  font-weight: 300;
  line-height: 1.7;
}

.demo-image {
  display: flex;
  width: 80%;
  justify-content: center;
  @media (max-width: 480px) {
    display: flex;
    width: 55%;
    justify-content: center;
  }
}

.demo-text {
  width: 95%;
  @media (max-width: 480px) {
    width: 75%;
  }
}
