.section-12 {
  display: flex;
  justify-content: center;
  background-image: url("../../svg/Section-4/background-purple.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-12 .alice-application-2 .row {
  max-width: 1440px;
}

.alice-application__img-2-col .illustration-2 {
  width: 100%;
  position: relative;
  top: 85px;
  @media (max-width: 784px) {
    width: 90%;
    position: relative;
    top: 0px;
  }
}

.alice-application__text-2-col {
  width: 100vw;
  position: relative;
  top: 100px;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: 576px) {
    top: 50px;
  }

  @media (min-width: 768px) {
    padding-left: 5%;
    padding-right: 0;
  }

  @media (min-width: 992px) {
    padding-right: 80px;
    position: relative;
    // top: -120px;
  }

  @media (min-width: 1400px) {
    padding-right: 80px;
  }
}

.section-12 .overview-buttons-2 {
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-around;
  }
}

.section-12 .view-use-case-button {
  margin: 15px 0;
  border: 2px solid #30b9ef;
  background-color: #ffffff;
  width: 204px !important;
  @media (min-width: 576px) {
    // width: 40%;
    position: relative;
    z-index: 1;
  }

  &:hover {
    background-color: $button-color-hover;
  }
}

.section-12 .overview-buttons-2 img {
  margin: 20px 15px;
  position: relative;
  z-index: 1;
  &:hover {
    margin-bottom: 5px;
    transition: all 0.3s ease;
  }
}

.section-12 .overview-buttons-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 1260px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.section-12 .section-sub-title-2 {
  margin: 30px 0;
  font-family: Helvetica;
  font-size: 28px;
  letter-spacing: 0;

  @media (min-width: 576px) {
    margin-bottom: 40px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    margin-bottom: 34px;
    text-align: left;
  }
}

.section-12 .section-tagline-2 {
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  line-height: 30px;

  // @media (max-width: 990px) {
  //   margin-bottom: 40px;
  //   text-align: left;
  // }

  // @media (min-width: 1200px) {
  //   margin-bottom: 34px;
  // }
}
