@import "_variables";

.section-4 {
  display: flex;
  justify-content: center;
  background-image: url("../../svg/Section-4/background.svg");
  background-position: 0 -1490px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1000px) {
    background-image: none;
  }

  @media (min-width: 1500px) {
    background-image: none;
  }
}

.section-4 .alice-application .row {
  max-width: 1440px;
}

.section-4 .wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.alice-application__img-col .illustration-usecase-1 {
  width: 100%;
  position: relative;
  left: -100px;
  @media (max-width: 784px) {
    width: 90%;
    position: relative;
    top: 0px;
    left: 10px;
    margin: 100px 0 0 0;
  }
}

.illustration-usecase-2 {
  width: 100%;
  position: relative;
  top: 86px;
  @media (max-width: 784px) {
    width: 90%;
    position: relative;
    top: 0px;
  }
}

.section-4 .application-section-title,
.section-4 .section-title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;

  @media (max-width: 576px) {
    margin-bottom: 40px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    margin-bottom: 62px;
    text-align: left;
  }
}

.section-4 .section-sub-title {
  margin: 30px 0;
  font-family: Helvetica;
  font-size: 28px;
  letter-spacing: 0;

  @media (max-width: 576px) {
    margin-bottom: 40px;
    text-align: left;
  }

  // @media (max-width: 1320px) {
  //   br {
  //     display: none;
  //   }
  // }

  @media (min-width: 1200px) {
    margin-bottom: 34px;
    text-align: left;
  }
}

.section-4 .section-tagline {
  text-align: left;
  font-family: Helvetica;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 30px;
  max-width: 650px;
  @media (max-width: 576px) {
    padding: 10px;
    text-align: left;
  }

  @media (max-width: 990px) {
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
  }

  @media (min-width: 1200px) {
    margin-bottom: 54px;
  }
}

.alice-application-2,
.alice-application {
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
  // padding-bottom: 100px;

  @media (min-width: 1600px) {
    position: relative;
    top: 0px;
  }
}

.alice-application__img-col .illustration-1 {
  position: relative;
  right: 170px;
  top: 85px;

  @media (max-width: 1000px) {
    position: relative;
    margin-top: 100px;
    width: 90%;
    right: 0;
    top: 20px;
  }
}

.alice-application__text-col {
  width: 100vw;
  position: relative;
  top: 100px;
  @media (min-width: 1200px) {
    position: relative;
    top: 50px;
  }
  @media (min-width: 1400px) {
    position: relative;
    top: 100px;
  }
}

.alice-application__text-col {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 576px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 768px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 992px) {
    padding-right: 80px;
  }

  @media (min-width: 1400px) {
    padding-right: 80px;
  }
}

.section-4 .view-use-case-button {
  margin: 15px 0;
  border: 2px solid $blue;
  background-color: #ffffff;
  width: 204px !important;
  @media (min-width: 576px) {
    width: 40%;
    position: relative;
    z-index: 1;
  }

  &:hover {
    background-color: $button-color-hover;
  }
}

.section-4 .application-overview-buttons,
.section-4 .overview-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
  }
}

.section-4 .application-overview-buttons img,
.section-4 .overview-buttons img {
  margin: 20px 15px;
  position: relative;
  z-index: 1;
  &:hover {
    margin-bottom: 5px;
    transition: all 0.3s ease;
  }
}

.section-4 .application-overview-buttons a,
.section-4 .overview-buttons {
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-around;
  }
}

.section-4 .use-case-text {
  display: flex;
  width: 100%;
}
